# Firebase Admin Configuration
# You can provide the JSON string of your Firebase service account here. 
# Alternatively, you can use the GOOGLE_APPLICATION_CREDENTIALS environment variable 
# and point it to the path of your service account json file.
FIREBASE_SERVICE_ACCOUNT='{"type":"service_account","project_id":"your_project_id",...}'
FIREBASE_DATABASE_URL=your_database_url
